<!-- <mat-toolbar color="primary" class="navbar">
  <div>
    
    <mat-card-title><mat-icon>emoji_objects</mat-icon>Fundoo</mat-card-title>
  </div>
  <div>
    <span><button mat-button (click)="loadRegister()">Register</button></span>
    <span><button mat-button (click)="loadLogin()">Login</button></span>
  </div>
</mat-toolbar> -->
<!-- <app-login-component></app-login-component> -->
<!-- <app-register></app-register> -->
<!-- <app-create-note></app-create-note> -->
<app-login-component></app-login-component>
<!-- <app-dash-board></app-dash-board> -->

