body {
    background-image: url("https://wallpapersmug.com/large/7ea043/mountain-dark-nature.jpg");
    background-color: black;
}

#LoginDiv {
    font-style: italic;
    color : ghostwhite;
}
#EmployeeManagement {
    font-style: italic;
    color: ghostwhite;
}

.Button {
    outline: none;
    border-radius: 10px;
    border: 1px solid #aaa;
    background: #4B0082;
    color: white;
}
.Fields {
    outline: none;
    border-radius: 4px;
    border: 1px solid #aaa;
    background: #FFF0F5;
    color: white;
}
