<mat-card>
    <div>
        <mat-card-header>
            Find your email
        </mat-card-header>
        <mat-card-title>
            Enter your Email ID
        </mat-card-title>
        <mat-card-container>
            <div>
                <form [formGroup]="forgetForm" (ngSubmit)="onForgetSubmit(forgetForm.value)">
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput name="registerEmail" placeholder="Placeholder" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.email.errors }" ngModel />
                            <mat-hint *ngIf="submitted && form.email.errors" class="invalid-feedback">
                                <mat-hint *ngIf="form.email.errors.required">Email is required</mat-hint>
                                <mat-hint *ngIf="form.email.errors.email">Email must be a valid email address</mat-hint>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                    <div>
                        <button type="submitt" mat-raised-button color="primary">Next</button>
                    </div>
                </form>
            </div>
        </mat-card-container>
    </div>
</mat-card>
