<div>
    <mat-card class="mat-card-border">     
    <div class="loginFormField">
    <mat-card-title color="accent">    
        Login    
    </mat-card-title>    
</div>
    <mat-card-content>    
        <form [formGroup]="LoginForm" (ngSubmit)="onSubmit(LoginForm.value)">
            <div class="loginFormField">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput name="loginEmail" type="email" placeholder="Placeholder" formControlName="logEmail" 
                class="form-control" [ngClass]="{ 'is-invalid': submitted && form.logEmail.errors }" ngModel />
                
                <mat-hint *ngIf="submitted && form.logEmail.errors" class="invalid-feedback">
                    <mat-hint *ngIf="form.logEmail.errors.required">Email is required</mat-hint>
                    <mat-hint *ngIf="form.logEmail.errors.email">Email must be a valid email address</mat-hint>
                </mat-hint>
            </mat-form-field>
        </div>
        <div class="loginFormField">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput name="loginPassword" type="password" formControlName="loginPassword" 
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && form.loginPassword.errors }" ngModel/>
                    
                    
                        <mat-hint *ngIf="submitted && form.loginPassword.errors" class="invalid-feedback">
                            <mat-hint *ngIf="form.loginPassword.errors.required">Password is required</mat-hint>
                            <mat-hint *ngIf="form.loginPassword.errors.minlength">Password must be at least 6 characters</mat-hint>
                            <mat-hint *ngIf="form.loginPassword.errors.maxlength">Password must be lessthen 20 charecters</mat-hint>
                            <mat-hint *ngIf="form.loginPassword.errors">Atlease One UpperCase, LowerCase, Number, special characters Needed</mat-hint>
                        </mat-hint>
                </mat-form-field>
            </div>
            <br>
            <div class="loginFormField">
                <span>
                    <span><button type="submitt" mat-raised-button color="primary">Login</button></span>
                    <span>OR</span>
                    <span><a href="/" mat-raised-button color="primary">Register Here</a></span>
                </span>
            </div>
        </form>  
    </mat-card-content>    

</mat-card> 
</div>
