mat-form-field{
    display: flex;
    position: relative;
    height: 100%;
}
.loginSubmit{
    display: flex;
  justify-content: center;
  height: 100%;
}

.loginFormField{
    display: flex;
  justify-content: center;
}

.loginFormMainDiv{
    display: flex;
  justify-content: center;
}
.mat-card-title{
    display: flex;
    color: green;
    float: center;
}
.fields{
    display: flex;
    position: relative;
}
.mat-card-border {
  max-width: 300px;
  justify-content: center;
  margin: 4px
}